<form #clienteForm="ngForm" (ngSubmit)="submit(clienteForm)">
  <div class="mb-3">
    <label for="nombre" class="form-label">Nombre</label>
    <input type="text" id="nombre" name="nombre" class="form-control" [(ngModel)]="cliente.nombre" required>
    <div *ngIf="clienteForm.submitted && clienteForm.controls.nombre.errors?.required" class="text-danger">El nombre es requerido</div>
  </div>
  <div class="mb-3">
    <label for="apellido" class="form-label">Apellido</label>
    <input type="text" id="apellido" name="apellido" class="form-control" [(ngModel)]="cliente.apellido" required>
    <div *ngIf="clienteForm.submitted && clienteForm.controls.apellido.errors?.required" class="text-danger">El apellido es requerido</div>
  </div>
  <div class="mb-3">
    <label for="cedula" class="form-label">Cédula</label>
    <input type="text" id="cedula" name="cedula" class="form-control" [(ngModel)]="cliente.cedula" required>
    <div *ngIf="clienteForm.submitted && clienteForm.controls.cedula.errors?.required" class="text-danger">La cédula es requerida</div>
  </div>
  <div class="mb-3">
    <label for="fechaNacimiento" class="form-label">Fecha de nacimiento</label>
    <input type="date" id="fechaNacimiento" name="fechaNacimiento" class="form-control" [(ngModel)]="cliente.fechaNacimiento" required>
    <div *ngIf="clienteForm.submitted && clienteForm.controls.fechaNacimiento.errors?.required" class="text-danger">La fecha de nacimiento es requerida</div>
  </div>
  <div class="mb-3">
    <label for="tipoPersona" class="form-label">Tipo de persona</label>
    <select id="tipoPersona" name="tipoPersona" class="form-control" [(ngModel)]="cliente.tipoPersona" required>
      <option value="">Seleccionar tipo de persona</option>
      <option value="F">Persona física</option>
      <option value="J">Persona jurídica</option>
    </select>
  
    <div *ngIf="clienteForm.submitted && clienteForm.controls.tipoPersona.errors?.required" class="text-danger">El tipo de persona es requerido</div>
  </div>
  <button type="submit" class="btn btn-primary">Guardar</button>
  <div *ngIf="displayError" class="text-danger">{{displayError}}</div>
</form>


<h1>Hello, world!</h1>
<table class="table">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellidos</th>
      <th>Cédula</th>
      <th>Fecha de nacimiento</th>
      <th>Tipo de Persona</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of items ;let i=index">
      <td>{{ item.nombre }}</td>
      <td>{{ item.apellido }}</td>
      <td>{{ item.cedula }}</td>
      <td>{{ item.fechaNacimiento }}</td>
      <td>{{ item.tipoPersona }}</td>
      <td><button class="btn btn-danger" (click)="delete(item,i)" >Eliminar</button></td>
      <td><button class="btn btn-success"(click)="edit(item)" >Editar</button></td>

    </tr>
  </tbody>
</table>